h1 {
    background-color: #90C17B;
    color: whitesmoke; 
    text-align: center;
    font-size: 40px; 
}

.remove {
    color:whitesmoke; 
    background-color: #cf5757;
    border: none; 
    padding: 10px;
}

ul {
    margin-right: auto;
    
}

li {
    color: orange;
    margin-right: 0%; 
    font-size: 25px;
    list-style-type: none;
    
}

button{
    align: center;
    border: 4px solid #90C17B;
    color: #90C17B;
    background-color: white;
    height: 40px; 
}

input {
    width: 75%;
    align: center;
    border: 4px solid #90C17B;
    height: 30px; 
}

